
.value-circle-card-indicator-wrapper{
    /* box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)  */
    box-shadow:0 1px 3px 0 rgba(255,255,255,0.16),0 2px 7px 0 rgba(255,255,255,0.12)
}

.value-circle-card-indicator-wrapper:hover{
    /* box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19) */
    box-shadow:0 2px 6px 0 rgba(255,255,255,0.2),0 4px 8px 0 rgba(255,255,255,0.19)
}

.value-circle-card-indicator-wrapper{
    padding: .4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}

.value-circle-card-indicator-container {
    padding: 0.01em 16px;
    /* margin-top: .1em; */
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row; 
}

.avatar-value-circle-card-indicator{
        float: left!important;        
        margin-right: .2em !important;        
        border-radius: 50%;
}
